.data-table-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    padding: 10px 15px 15px;
    background: #fff;
    > div {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    .table {
        color: #333 !important;
        margin-bottom: 0;
        text-align: left;
        thead {
            th {
                background: #29176d;
                color: #fff;
                border: none;
                text-align: left;
                padding: 10px 10px;
                font-size: 16px;
                vertical-align: middle;
                font-weight: normal;
                &:first-child {
                    border-radius: 4px 0 0 0;
                }
                &:last-child{
                    border-radius: 0px 4px 0 0;
                }
                &:not(:last-child) {
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                }
            }
        }
        tbody {
            td {
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                font-size: 14px;
            }
        }
    }
}
