//COLORS
$border-color: #1d247a;
$color-primary: #d81e25;
$color-primary-light: #7ed56f;
$color-primary-dark: #37a836;

$color-secondary: #443466;
$color-sencondary-light: #ec6815;
$color-sencondary-dark: #ff6400;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray: #333;
$color-footer: #26292c;

$color-error: #a94442;

//FONT
$font-family: "Exo";
$default-font-size: 1.6rem;
$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 24px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$baseline: 1.5rem;
