@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo-Medium.ttf") format("truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  color: #333 !important; }

html {
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc( 12px + 12 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

body {
  font-family: "Exo" !important;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.44rem; }
  body {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      body {
        font-size: calc( 14.4px + 3.6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      body {
        font-size: 18px; } }

a {
  font-size: 1.44rem;
  color: #37a836; }
  a {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      a {
        font-size: calc( 14.4px + 3.6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      a {
        font-size: 18px; } }
  a:hover {
    color: #37a836; }

h1 {
  font-size: 2.48832rem; }
  h1 {
    font-size: 24.8832px; }
    @media screen and (min-width: 320px) {
      h1 {
        font-size: calc( 24.8832px + 35.8668 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h1 {
        font-size: 60.75px; } }

h2 {
  font-size: 2.0736rem; }
  h2 {
    font-size: 20.736px; }
    @media screen and (min-width: 320px) {
      h2 {
        font-size: calc( 20.736px + 19.764 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 40.5px; } }

h3 {
  font-size: 1.728rem; }
  h3 {
    font-size: 17.28px; }
    @media screen and (min-width: 320px) {
      h3 {
        font-size: calc( 17.28px + 9.72 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h3 {
        font-size: 27px; } }

h4 {
  font-size: 1.44rem; }
  h4 {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      h4 {
        font-size: calc( 14.4px + 3.6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h4 {
        font-size: 18px; } }

h5 {
  font-size: 1.2rem; }
  h5 {
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      h5 {
        font-size: calc( 12px + 0 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h5 {
        font-size: 12px; } }

.form-control {
  font-size: 1.2rem; }
  .form-control {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      .form-control {
        font-size: calc( 14.4px + 3.6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .form-control {
        font-size: 18px; } }

.toolbar_navigation-items a {
  font-family: "Exo";
  font-size: 1.44rem; }
  .toolbar_navigation-items a {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      .toolbar_navigation-items a {
        font-size: calc( 14.4px + 3.6 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .toolbar_navigation-items a {
        font-size: 18px; } }

.data-table-wrapper {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 4px;
  overflow-x: auto; }
  .data-table-wrapper .table {
    color: #333 !important;
    margin-bottom: 0;
    text-align: left; }
    .data-table-wrapper .table thead th {
      background: #29176d;
      color: #fff;
      border: none;
      text-align: left;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-weight: normal; }
      .data-table-wrapper .table thead th:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
    .data-table-wrapper .table tbody td {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 14px; }

.header {
  width: 100%;
  background-color: #fbfbfb;
  background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.97));
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.08);
  color: #747474;
  height: 100px;
  position: fixed;
  top: 0; }

.logo {
  margin-top: 20px; }
  .logo img {
    width: 142px; }

.footer {
  background-color: #26292c;
  padding: 1.5rem 5rem; }
  .footer h4 {
    color: #fff; }
  .footer p {
    color: #bfbfbf; }
  .footer li {
    list-style: none; }
  .footer a {
    color: #bfbfbf;
    padding: 0.5rem 0; }
    .footer a:hover {
      color: #fff; }

body {
  background-color: #f6f6f6 !important; }

main {
  margin-top: 35px;
  margin-bottom: 35px; }

.mt-6 {
  margin-top: 25px; }

.login {
  max-width: 500px;
  width: 844px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.04);
  margin: auto;
  margin-top: 44px;
  padding: 25px 0 32px; }

.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0; }

.input100 {
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .input100:focus {
    border: none; }

textarea:focus,
input:focus {
  outline: none; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: none; }

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #76c4f0; }

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: #999999;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.input100:focus {
  padding-left: 60px; }

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #76c4f0; }

.input100:focus + .focus-input100::before {
  width: 100%; }

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #76c4f0; }

.has-val.input100 + .focus-input100::before {
  width: 100%; }

.has-val.input100 {
  padding-left: 60px; }

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login100-form-btn {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #d41872;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #3e3271;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }
  .login100-form-btn:hover {
    background-color: transparent; }
  .login100-form-btn:hover:before {
    opacity: 1; }

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

/*------------------------------------------------------------------
[ Button ]*/
button {
  border: none; }
  button:focus {
    outline: none !important; }

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px; }

.login100-form-btn {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #2a166e;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn:hover {
  background-color: transparent; }

.login100-form-btn:hover:before {
  opacity: 1; }

.operators-section {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  margin: 35px 0;
  width: 100%;
  /* flex: 3; */
  order: 2;
  flex-basis: 73%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.countries-detail {
  display: flex;
  padding: 0px 0 15px; }
  .countries-detail img {
    width: 100px; }
  .countries-detail p {
    line-height: 2;
    padding-left: 15px;
    margin-bottom: 0; }

.sidebar {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  margin: 35px 0;
  flex-basis: 25%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .sidebar P {
    border-bottom: solid 1px #e6e6e6;
    font-size: 20px;
    padding-bottom: 8px;
    margin-bottom: 5px; }
  .sidebar-content {
    display: flex;
    flex-direction: column; }
    .sidebar-content a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      line-height: 2; }
      .sidebar-content a:hover {
        text-decoration: none;
        color: #76c5f0; }
