@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo-Medium.ttf") format("truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  color: #333 !important; }

html {
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(
 12px + 12 *
 ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

body {
  font-family: "Exo" !important;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.44rem; }
  body {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      body {
        font-size: calc(
 14.4px + 3.6 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      body {
        font-size: 18px; } }

a {
  font-size: 1.44rem;
  color: #37a836; }
  a {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      a {
        font-size: calc(
 14.4px + 3.6 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      a {
        font-size: 18px; } }
  a:hover {
    color: #37a836; }

h1 {
  font-size: 2.48832rem; }
  h1 {
    font-size: 24.8832px; }
    @media screen and (min-width: 320px) {
      h1 {
        font-size: calc(
 24.8832px + 35.8668 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h1 {
        font-size: 60.75px; } }

h2 {
  font-size: 2.0736rem; }
  h2 {
    font-size: 20.736px; }
    @media screen and (min-width: 320px) {
      h2 {
        font-size: calc(
 20.736px + 19.764 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 40.5px; } }

h3 {
  font-size: 1.728rem; }
  h3 {
    font-size: 17.28px; }
    @media screen and (min-width: 320px) {
      h3 {
        font-size: calc(
 17.28px + 9.72 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h3 {
        font-size: 27px; } }

h4 {
  font-size: 1.44rem; }
  h4 {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      h4 {
        font-size: calc(
 14.4px + 3.6 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h4 {
        font-size: 18px; } }

h5 {
  font-size: 1.2rem; }
  h5 {
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      h5 {
        font-size: calc(
 12px + 0 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h5 {
        font-size: 12px; } }

.form-control {
  font-size: 1.2rem; }
  .form-control {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      .form-control {
        font-size: calc(
 14.4px + 3.6 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .form-control {
        font-size: 18px; } }

.toolbar_navigation-items a {
  font-family: "Exo";
  font-size: 1.44rem; }
  .toolbar_navigation-items a {
    font-size: 14.4px; }
    @media screen and (min-width: 320px) {
      .toolbar_navigation-items a {
        font-size: calc(
 14.4px + 3.6 *
 ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .toolbar_navigation-items a {
        font-size: 18px; } }

.data-table-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  padding: 10px 15px 15px;
  background: #fff; }
  .data-table-wrapper > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px; }
  .data-table-wrapper .table {
    color: #333 !important;
    margin-bottom: 0;
    text-align: left; }
    .data-table-wrapper .table thead th {
      background: #29176d;
      color: #fff;
      border: none;
      text-align: left;
      padding: 10px 10px;
      font-size: 16px;
      vertical-align: middle;
      font-weight: normal; }
      .data-table-wrapper .table thead th:first-child {
        border-radius: 4px 0 0 0; }
      .data-table-wrapper .table thead th:last-child {
        border-radius: 0px 4px 0 0; }
      .data-table-wrapper .table thead th:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
    .data-table-wrapper .table tbody td {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 14px; }

.header {
  width: 100%;
  background-color: #fbfbfb;
  background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.97));
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.08);
  color: #747474;
  height: 100px;
  position: fixed;
  top: 0; }

.logo {
  margin-top: 20px; }
  .logo img {
    width: 142px; }

.footer {
  background-color: #26292c;
  padding: 1.5rem 5rem; }
  .footer h4 {
    color: #fff; }
  .footer p {
    color: #bfbfbf; }
  .footer li {
    list-style: none; }
  .footer a {
    color: #bfbfbf;
    padding: 0.5rem 0; }
    .footer a:hover {
      color: #fff; }

body {
  background-color: #f2f7fb !important; }

main {
  margin-top: 35px;
  margin-bottom: 35px; }

.mt-6 {
  margin-top: 25px; }

.login {
  max-width: 500px;
  width: 844px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  margin-top: 44px;
  padding: 25px 0 32px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1); }

.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0; }

.input100 {
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .input100:focus {
    border: none; }

textarea:focus,
input:focus {
  outline: none; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: none; }

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #76c4f0; }

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: #999999;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.input100:focus {
  padding-left: 60px; }

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #76c4f0; }

.input100:focus + .focus-input100::before {
  width: 100%; }

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #76c4f0; }

.has-val.input100 + .focus-input100::before {
  width: 100%; }

.has-val.input100 {
  padding-left: 60px; }

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login100-form-btn {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #d41872;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #3e3271;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }
  .login100-form-btn:hover {
    background-color: transparent; }
  .login100-form-btn:hover:before {
    opacity: 1; }

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

/*------------------------------------------------------------------
[ Button ]*/
button {
  border: none; }
  button:focus {
    outline: none !important; }

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px; }

.login100-form-btn {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #2a166e;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.login100-form-btn:hover {
  background-color: transparent; }

.login100-form-btn:hover:before {
  opacity: 1; }

.card {
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1); }

.operators-section {
  border-radius: 4px;
  position: relative;
  padding: 0;
  margin: 35px 0;
  width: 100%;
  /* flex: 3; */
  order: 2;
  flex-basis: 77%;
  display: flex;
  flex-direction: column; }

.operators-features {
  padding: 0 10px; }
  .operators-features ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 100%;
    background-color: #fff; }
    .operators-features ul li {
      flex: 1;
      /* line-height: 60px; */
      padding: 0;
      margin: 0 0 0 20px;
      height: 70px;
      box-shadow: 0px 0px 1em 0px rgba(61, 48, 41, 0.05); }
      .operators-features ul li p {
        font-size: 14px;
        padding: 15px 10px;
        margin: 0;
        line-height: 2; }
      .operators-features ul li:nth-child(1) p {
        box-shadow: none;
        font-weight: 600; }
      .operators-features ul li:nth-child(1) {
        margin: 0; }
    .operators-features ul:nth-child(even) {
      background-color: #eff1f5; }

.operatores-headers {
  display: flex;
  padding: 0 10px; }
  .operatores-headers ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 100%;
    flex-direction: column;
    padding: 10px 0 15px;
    background-color: #fff;
    margin: 0 0px 0 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 0 1em 5px rgba(61, 48, 41, 0.07);
    border-bottom: solid 2px #eff1f5;
    text-align: center; }
    .operatores-headers ul li {
      flex: 1; }
      .operatores-headers ul li:first-child {
        padding: 0px 0 10px; }
        .operatores-headers ul li:first-child img {
          width: auto;
          height: 60px; }
      .operatores-headers ul li P {
        margin-bottom: 0; }
    .operatores-headers ul a {
      background: #76c4f0;
      border-radius: 50px !important;
      padding: 6px 20px 6px 20px;
      color: #fff;
      font-size: 14px; }
      .operatores-headers ul a:hover {
        text-decoration: none; }
    .operatores-headers ul:nth-child(1) {
      box-shadow: none;
      border-bottom: none;
      margin: 0;
      background: transparent; }

.countries-detail {
  display: flex;
  flex-direction: row;
  padding-top: 10px; }
  .countries-detail div {
    padding: 10px 15px 5px; }
    .countries-detail div:nth-child(1), .countries-detail div:nth-child(3) {
      background-color: #fff;
      border-radius: 4px 4px 0px 0px; }
    .countries-detail div:nth-child(3) {
      text-align: left;
      position: relative;
      padding-left: 60px;
      width: 100px; }
      .countries-detail div:nth-child(3)::after {
        content: "";
        height: 0;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 0px;
        border-top: 60px solid #f6f6f6;
        border-right: 60px solid #ffffff; }
    .countries-detail div:nth-child(1) {
      background-color: #fff;
      width: 50px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      padding: 11px 0;
      position: relative;
      margin: 5px 0px 0 20px;
      font-size: 18px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
      box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2); }
  .countries-detail img {
    position: absolute;
    width: 50px;
    height: 35px;
    border-radius: 50px;
    top: 0px;
    left: 0px;
    border: solid 2px #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
    box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2); }
  .countries-detail p {
    margin-bottom: 0; }

.sidebar {
  border-radius: 4px;
  position: relative;
  padding: 15px;
  margin: 35px 0;
  flex-basis: 22%; }
  .sidebar P {
    border-bottom: solid 1px #e6e6e6;
    font-size: 20px;
    padding-bottom: 8px;
    margin-bottom: 5px; }
  .sidebar-content {
    display: flex;
    flex-direction: column; }
    .sidebar-content a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      line-height: 2;
      padding: 5px; }
      .sidebar-content a:hover, .sidebar-content a:active {
        text-decoration: none;
        color: #76c5f0;
        background: #f6f6f6; }
    .sidebar-content img {
      width: 25px;
      margin: 0 10px 0px 0px; }

#chartdiv {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: solid 15px #fff; }

.map-marker {
  /* adjusting for the marker dimensions
      so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box; }

.map-marker.map-clickable {
  cursor: pointer; }

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box; }

.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box; }


  @-moz-keyframes pulse {
    0% {
       -moz-transform: scale(0);
       opacity: 0.0;
    }
    25% {
       -moz-transform: scale(0);
       opacity: 0.1;
    }
    50% {
       -moz-transform: scale(0.1);
       opacity: 0.3;
    }
    75% {
       -moz-transform: scale(0.5);
       opacity: 0.5;
    }
    100% {
       -moz-transform: scale(1);
       opacity: 0.0;
    }
   }
   @keyframes pulse {
    0% {
       -webkit-transform: scale(0);
       opacity: 0.0;
    }
    25% {
       -webkit-transform: scale(0);
       opacity: 0.1;
    }
    50% {
       -webkit-transform: scale(0.1);
       opacity: 0.3;
    }
    75% {
       -webkit-transform: scale(0.5);
       opacity: 0.5;
    }
    100% {
       -webkit-transform: scale(1);
       opacity: 0.0;
    }
 }
    