.footer {
  background-color: $color-footer;
  padding: 1.5rem 5rem;
  h4 {
    color: $color-white;
  }
  p{
    color: #bfbfbf;
  }
  li{
      list-style: none;
  }
  a{
    color: #bfbfbf;
    padding: 0.5rem 0;
    &:hover{
        color: $color-white;
    }
  }
}
